<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Starofus</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/w3.css">
<link rel="stylesheet" href="./css/custome.css">
</head><body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <h1 class="w3-xlarge">Starofus</h1>
  <h1>你好呀，我是Sans</h1>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="./index.html" class="w3-bar-item w3-button w3-light-grey">Home</a>
      <a href="#works" class="w3-bar-item w3-button">Works</a>
      <a href="https://github.com/mrzhuzhe" class="w3-bar-item w3-button">Github</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</header>

<!-- <div class="index-img">
  <img src="./imgs/funky_panda.jpeg" />
</div> -->

<!-- Photo Grid -->
<div class="w3-row-padding" >
  <div class="w3-half">
    <img alt="花Q" src="./imgs/huaq.jpeg" style="width:100%">
  </div>

  <div class="w3-half">
    <img alt="funky_panda" src="./imgs/funky_panda.jpeg" style="width:100%">
    <img alt="LazarusGroup" src="./imgs/LazarusGroup.jpg" style="width:100%">
  </div>
  
</div>

<div class="w3-row-padding" style="margin-bottom:128px">
  <div class="index-main">
    <div class="list">
      <div class="item" name="contact" id="contact" >
        <h1>这里的主人是谁？</h1>
        <p>一个独立开发者</p>
        <p>业余爱好 游戏，旅游，实体玩具，Money 和 Thicc</p>
        <p>居无定所</p>
        <p>年长的萌豚</p>          
      </div>
      <div class="item" name="works" id="works" >
        <h1>他是干什么的？</h1>
        <p>兴趣：机器学习，机器人学，和网络安全</p>
        <p><strong># 机器学习和机器人学</strong></p>
        <p>学习：</p>
        <ul>
          <li>线性代数 和 概率过程</li>
          <li>抽象代数，拓扑学</li>
          <li>凸优化</li>
          <li>非线性控制</li>
        </ul>
        <p>应用：</p>
        <ul>
          <li>强化学习</li>
          <li>3d视觉</li>
          <li>web 3d</li>
        </ul>
        <p><strong># 网络安全</strong></p>
        <p>学习：</p>
        <ul>
          <li>apue 和 uep</li>
        </ul>
        <p>应用：</p>
        <ul>
          <li>密码学</li>
          <li>虚拟化</li>
        </ul>
      </div>
      <div class="item" name="works" id="works" >
        <h1>一条狗子</h1>
        <img alt="anonyDog" src="./imgs/anonyDog.jpeg" style="width:120px">
      </div>
    </div>
  </div>
</div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">   
  <p>2021 No right recived</p>
  <p class="small">太陽系を抜け出して平行線で交わろう</p>
</footer>


</body></html>