extends ../layouts/default

block intro
	.container
		h1 About Me
		p a web developer who love Comedy Trekking and Bicyle
		h1 About starofus
		p 'star of us' is a quote to china traditional fairytale <br> that told everyone corresponding to a star. <br> even if we live so far away. <br> when someone' star shine mean this guy is in proper. <br> when star is blink mean someone is in trouble
		p But in fact this is a blog about
		ul
			li some tricks for Javascript, NodeJs
			li user behavior tracking and Vulnerability report
			li the way i struggle for personal career
block content
	.container
		.row: .col-sm-8.col-md-6
			h1 Thanks for keep in touch with me
			p You can send me an email to 
				a.mail(href='mailto:zhuzhe0815@gmail.com')
					img(src='/images/gmail_icon.png', width='60')
			p Or find me on socail network
			div.socail_icons
				a(href='https://www.facebook.com/mrzhuzhe')
					img(src='/images/facebook_icon.png', width='60')
				a(href='https://twitter.com/MrFuryJo')
					img(src='/images/Twitter_icon.png', width='60')
				a(href='https://www.linkedin.com/in/zhu-zhe-3110a514a/')
					img(src='/images/linkedin_icon.png', width='60')
				a(href='https://github.com/mrzhuzhe/')
					img(src='/images/github_icon.svg', width='60')
