extends ../layouts/default

block intro
	.container
		h1 About Me
		h3 a web developer who love Comedy Trekking and Bicyle
			
block content
	.container
		.row: .col-sm-8.col-md-6
			h1 Thanks for keep in touch with me
			p You can send me an email to 
				a(href='mailto:zhuzhe0815@gmail.com')
					img(src='/images/gmail_icon.png', width='60')
			p Or find me on socail network
			p.socail_icons
				a(href='https://www.facebook.com/mrzhuzhe')
					img(src='/images/facebook_icon.png', width='60')
				a(href='https://twitter.com/MrFuryJo')
					img(src='/images/twitter_icon.png', width='60')
				a(href='https://www.linkedin.com/in/zhu-zhe-3110a514a/')
					img(src='/images/linkedin_icon.png', width='60')
				a(href='https://github.com/mrzhuzhe/')
					img(src='/images/github_icon.svg', width='60')